.web-options {
  display: flex;
  flex: 1;
  align-items: center;
}

.web-option{
    font-size:20px;
    margin-right:20px;
    font-weight:400;
}
.web-option a{
    text-decoration:none;
    color:rgb(77, 0, 150)
}